$device-width: 380px
$device-height: 320px
$display-height: ($device-height/100)*22
$keypad-height: ($device-height/100)*70
$row-height: ($keypad-height/100)*20
$border-color: rgb(144, 147, 122)

.device-layout
  width: $device-width
  height: $device-height
  //background-color: yellow
  .device
    width: $device-width
    height: $device-height
    //background-color: rgba(0,0,0,0.3)
    .header
      width: $device-width
      height: ($device-height/100)*8
      background-color: rgb(144, 147, 122)
      border-top-left-radius: 5px
      border-top-right-radius: 5px
      box-shadow: inset 0 4px 15px 4px rgba(0,0,0, 0.7)

    .screen
      width: $device-width
      height: $display-height
      background-color: rgb(48, 47, 47)
      .main-screen
        width: $device-width
        height: ($display-height/100)*60
        //background-color: black
        font-size: 1.8em
        text-align: right
        margin-left: -10px
        font-family: Arial
        color: white
      .chaining
        width: $device-width
        height: ($display-height/100)*40
        //background-color: rgba(0,0,0,0.6)
        color: rgb(162, 160, 160)
        font-size: 1.2em
        text-align: right
        margin-left: -10px
        font-family: Arial


    .keys
      width: $device-width
      height: $keypad-height
      background-color: rgba(0,0,0,0.7)
      .row-1, .row-2, .row-3, .row-4, .row-5
        display: flex
        width: $device-width
        height: $row-height
        .col-1, .col-2, .col-3, .col-4
          height: $row-height
          width: ($device-width/100)*25


//Buttons and borders
button
  border: none
  outline: none

.row-5
  .col-1
    width: (($device-width/100)*25)*2 !important
.row-1, .row-2, .row-3, .row-4, .row-5
  .col-1
    border-right: 1px solid $border-color
  .col-3
    border-right: 1px solid $border-color
  .col-1, .col-2, .col-3, .col-4
    border-bottom: none
    border-top: 1px solid $border-color
    font-family: monaco
    font-size: 0.8em
  .col-2
    border-right: 1px solid $border-color
.col-1, .col-2, .col-3
  background-color: #a8a8a8
  box-shadow: inset 0 0 10px 3px rgba(0,0,0,0.7)
  &:active
    box-shadow: inset 0 0 10px 6px rgba(0,0,0,0.7)
.col-4
  background-color: rgb(255, 153, 0)
  color: white
  box-shadow: inset 0 0 10px 3px rgba(0,0,0,0.7)
  &:active
    box-shadow: inset 0 0 10px 6px rgba(0,0,0,0.7)
