@import 'https://fonts.googleapis.com/css?family=Fira+Sans';
.device-layout {
  width: 380px;
  height: 320px; }
  .device-layout .device {
    width: 380px;
    height: 320px; }
    .device-layout .device .header {
      width: 380px;
      height: 25.6px;
      background-color: #90937a;
      -webkit-border-top-left-radius: 5px;
              border-top-left-radius: 5px;
      -webkit-border-top-right-radius: 5px;
              border-top-right-radius: 5px;
      -webkit-box-shadow: inset 0 4px 15px 4px rgba(0, 0, 0, 0.7);
              box-shadow: inset 0 4px 15px 4px rgba(0, 0, 0, 0.7); }
    .device-layout .device .screen {
      width: 380px;
      height: 70.4px;
      background-color: #302f2f; }
      .device-layout .device .screen .main-screen {
        width: 380px;
        height: 42.24px;
        font-size: 1.8em;
        text-align: right;
        margin-left: -10px;
        font-family: Arial;
        color: white; }
      .device-layout .device .screen .chaining {
        width: 380px;
        height: 28.16px;
        color: #a2a0a0;
        font-size: 1.2em;
        text-align: right;
        margin-left: -10px;
        font-family: Arial; }
    .device-layout .device .keys {
      width: 380px;
      height: 224px;
      background-color: rgba(0, 0, 0, 0.7); }
      .device-layout .device .keys .row-1, .device-layout .device .keys .row-2, .device-layout .device .keys .row-3, .device-layout .device .keys .row-4, .device-layout .device .keys .row-5 {
        width: 380px;
        height: 44.8px; }
        .device-layout .device .keys .row-1 .col-1, .device-layout .device .keys .row-1 .col-2, .device-layout .device .keys .row-1 .col-3, .device-layout .device .keys .row-1 .col-4, .device-layout .device .keys .row-2 .col-1, .device-layout .device .keys .row-2 .col-2, .device-layout .device .keys .row-2 .col-3, .device-layout .device .keys .row-2 .col-4, .device-layout .device .keys .row-3 .col-1, .device-layout .device .keys .row-3 .col-2, .device-layout .device .keys .row-3 .col-3, .device-layout .device .keys .row-3 .col-4, .device-layout .device .keys .row-4 .col-1, .device-layout .device .keys .row-4 .col-2, .device-layout .device .keys .row-4 .col-3, .device-layout .device .keys .row-4 .col-4, .device-layout .device .keys .row-5 .col-1, .device-layout .device .keys .row-5 .col-2, .device-layout .device .keys .row-5 .col-3, .device-layout .device .keys .row-5 .col-4 {
          height: 44.8px;
          width: 95px; }

button {
  border: none;
  outline: none; }

.row-5 .col-1 {
  width: 190px !important; }

.row-1 .col-1, .row-2 .col-1, .row-3 .col-1, .row-4 .col-1, .row-5 .col-1 {
  border-right: 1px solid #90937a; }

.row-1 .col-3, .row-2 .col-3, .row-3 .col-3, .row-4 .col-3, .row-5 .col-3 {
  border-right: 1px solid #90937a; }

.row-1 .col-1, .row-1 .col-2, .row-1 .col-3, .row-1 .col-4, .row-2 .col-1, .row-2 .col-2, .row-2 .col-3, .row-2 .col-4, .row-3 .col-1, .row-3 .col-2, .row-3 .col-3, .row-3 .col-4, .row-4 .col-1, .row-4 .col-2, .row-4 .col-3, .row-4 .col-4, .row-5 .col-1, .row-5 .col-2, .row-5 .col-3, .row-5 .col-4 {
  border-bottom: none;
  border-top: 1px solid #90937a;
  font-family: monaco;
  font-size: 0.8em; }

.row-1 .col-2, .row-2 .col-2, .row-3 .col-2, .row-4 .col-2, .row-5 .col-2 {
  border-right: 1px solid #90937a; }

.col-1, .col-2, .col-3 {
  background-color: #a8a8a8;
  -webkit-box-shadow: inset 0 0 10px 3px rgba(0, 0, 0, 0.7);
          box-shadow: inset 0 0 10px 3px rgba(0, 0, 0, 0.7); }
  .col-1:active, .col-2:active, .col-3:active {
    -webkit-box-shadow: inset 0 0 10px 6px rgba(0, 0, 0, 0.7);
            box-shadow: inset 0 0 10px 6px rgba(0, 0, 0, 0.7); }

.col-4 {
  background-color: #ff9900;
  color: white;
  -webkit-box-shadow: inset 0 0 10px 3px rgba(0, 0, 0, 0.7);
          box-shadow: inset 0 0 10px 3px rgba(0, 0, 0, 0.7); }
  .col-4:active {
    -webkit-box-shadow: inset 0 0 10px 6px rgba(0, 0, 0, 0.7);
            box-shadow: inset 0 0 10px 6px rgba(0, 0, 0, 0.7); }

body {
  margin: 0;
  padding: 0; }

.main-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #404041; }
